<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>用户登录</title>
</head>
<body>
	<center>
		<form action="/login" method="post">
			<div style="width: 75%;text-align: left;margin-top: 50px; padding: 5px;">
				<div style="font-size: 16;font-weight: bold;">登录界面</div>
				<div style="padding: 5px;" >用户名：<input type="text" name="userName" /></div>
				<div style="padding: 5px;">密码：<input type="password" name="password" /></lable></div>
				<div style="padding: 5px;">验证码：<input type="text" name="code" /></lable></div>
				<div style="padding: 5px;"><input type="submit" value="登录" /> </div>
			</div>
		</form>
	</center>
</body>
</html>